.title {
    text-align: center;
    font-weight: bold;
    font-size: 60pt;
    margin-top: 50px;
}

.dropzone {
    height: 100%;
    background-color: lightblue; 
}

.selectButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: purple;
    margin-top: 20px;
    width: 50%;
    height: 8%;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.guesses {
    font-size: 25px;
    margin-left: 35%;
    margin-top: 3%;
}

.similar {
    font-size: large;
}

.container .box { 
    width: 95%; 
    height: 400px;
    margin:50px; 
    display:table; 
} 
.container .box .box-row { 
    display:table-row; 
} 
.container .box .box-cell { 
    display:table-cell;  
    padding:10px; 
} 
.container .box .box-cell.box1 { 
    width: 25%;
    text-align:justify; 
} 
.container .box .box-cell.box2 {
    width: 75%;
    text-align:center;
} 

.outputContainer {
    margin-top: 30px;
    width: 100%;
}
