<div class="title">
	<b style="font-family: inherit;">Genre Guesser</b>
</div>

<div class="container">
	<img src="/assets/Genres_can_be_.png" class="image" alt="image">
</div>

<div class="inputForm">
<form (ngSubmite)="onSubmit()" action="http://127.0.0.1:5000" method="post" enctype="multipart/form-data">
	<input style="margin-left: 36%;" type="file" name="file" />
	<input type="submit" value="Upload">
</form>
</div>


<div class="outputContainer">
	<p
		style="text-decoration: underline; text-align: center; font-size: 40px; font-family: 'Times New Roman', Times, serif;">
		<b>The genre of this song is most likely:</b></p>
	<div class="guesses">
		<p style="margin-bottom: 2%;">1. <b>{{prediction1}}</b>: {{percentage1}}% </p>
		<p style="margin-bottom: 2%;">2. {{prediction2}}: {{percentage2}}% </p>
		<p style="margin-bottom: 2%;">3. {{prediction3}}: {{percentage3}}% </p>
	</div>
</div>